[defaults]
inventory = ansible/inventory.ini
local_tmp = .ansible/tmp
remote_tmp = /tmp/.ansible-${USER}/tmp
host_key_checking = True
retry_files_enabled = False

[ssh_connection]
control_path_dir = .ansible/cp
